body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.notifications {
  display: flex;
  align-items: center;
}

.notification-icon {
  font-weight: bold;
  font-size: 16px;
}
.notification-icon button {
  background-color: rgb(4, 4, 59);
  color: white;
  border-radius: 5px;
}
.mark-as-read button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-weight: lighter;
}

.notifications-list {
  border-top: 1px solid #808380;
  padding-top: 20px;
}

.notification {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.notification-details {
  flex-grow: 1;
}

.unread-indicator {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  margin-left: 10px;
}

.notification-time {
  display: block;
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.info {
  flex-grow: 1;
}

.name {
  margin: 0;
}

.did {
  font-weight: normal;
  color: #777;
}

.time {
  font-size: 12px;
  color: #999;
  margin-top: 5px;
}

.text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 1.5;
}
@media only screen and (max-width: 600px) {
  .container {
    padding: 10px;
  }

  .profile-picture img {
    width: 40px;
    height: 40px;
  }

  .item img {
    width: 40px;
    height: 40px;
  }
}
